.star {
    height: 50px;
}

h1 {
    color: black;
    font-size: 3rem;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: white;
}
