.placeholder {
    height: 500px;
    width: 300px;
    color: blue;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
}

.hero-main {
    min-height: 100vh;
}

.hero {
    position: relative;
}

.name {
    font-family: 'Caudex', serif;
    font-size: 7rem;
    position: absolute;
    top: 100px;
    z-index: 1;
}

@media (max-width: 600px) {
    .name {
        font-size: 3em;
    }
}
