.hero-image {
    height: 600px;
    width: 350px;
    object-fit: cover;
    color: gainsboro;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

.hero-main {
    text-align: center;
}

.hero {
    position: relative;
}

.name,
.name-sml {
    font-family: 'Caudex', serif;
    font-size: 5rem;
    position: absolute;
    top: 90px;
    z-index: 1;
}

.name-sml {
    font-size: 3rem;
    line-height: 90%;
}

.arrow-icon {
    height: 60px;
}

@media (max-width: 768px) {
    .name {
        font-size: 3em;
    }
}
