.icon {
    height: 50px;
    width: auto;
}

.iconBackground {
    border-radius: 10px;
    height: 70px;
    width: 70px;
}

.parallax {
    max-width: 75%;
    margin-left: 25%;
    position: absolute !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
