.icon {
    height: 50px;
    width: auto;
}

.iconBackground {
    border-radius: 10px;
    height: 70px;
    width: 70px;
}

.parallax {
    max-width: 75%;
    margin-left: 25%;
    position: absolute !important;
}

.imageParallax1 {
    object-fit: contain;
    padding: 1em;
}

.imageParallax3 {
    opacity: 15%;
}

.circle {
    width: 2em;
    height: 2em;
    border-radius: 50%;
}
