.icon {
    height: 50px;
    width: auto;
}

.linkIcon {
    height: 25px;
}

.iconBackground {
    border-radius: 10px;
    height: 70px;
    width: 70px;
}

.parallax {
    max-width: 75%;
    margin-left: 25%;
    position: absolute !important;
}

.imageParallax1 {
    object-fit: contain;
    padding: 1em;
}

.imageParallax3 {
    opacity: 50%;
    max-height: 200px;
    width: auto;
    max-width: 50%;
}

.circle {
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .parallax {
        max-width: 100%;
        margin-left: 0;
    }
}
