.background-cover {
    background-image: url('/bg-video-2.mp4');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.background-video {
    min-height: 100%;
    object-fit: cover;
    opacity: 70%;
    position: absolute;
    overflow-anchor: hidden;
    z-index: -1;
}
