.projectsSection {
    height: 800px;
}

.heading {
    font-size: 4rem;
}

.linkIcon {
    height: 25px;
}

.parallax {
    margin: 0 auto;
    width: 98% !important;
    height: 50% !important;
}

.parallax::-webkit-scrollbar {
    display: none;
}

.sticky {
    max-width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
