.projectsSection {
    height: 1000px;
}

.heading {
    font-size: 4rem;
}

.linkIcon {
    height: 25px;
}

.parallax {
    margin: 0 auto;
    width: 95% !important;
    height: 900px !important;
}

.parallax::-webkit-scrollbar {
    display: none;
}

.sticky {
    max-width: 25%;
    display: flex;
}
