body {
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-family: 'Caudex', serif;
}

#root {
    margin: 0 auto;
    text-align: center;
}

.footer {
    position: sticky;
    top: 100vh;
}
