body {
    font-family: system-ui, 'Helvetica Neue', sans-serif;
}

h1,
h2 {
    font-family: 'Overused Grotesk', sans-serif;
}

#root {
    margin: 0 auto;
}

.footer {
    position: sticky;
    top: 100vh;
}
