:root {
    --off-white: #f7f6f2;
    --beige: #eeece5;
    --light-grey: #b0b0b0;
    --dark-grey: #2c2c2c;
    --yellow: #f7b832;
}

body {
    font-family: system-ui, 'Helvetica Neue', sans-serif;
    color: var(--dark-grey);
    background-color: var(--off-white);
    font-weight: 200;
}

h1,
h2,
h3 {
    font-family: 'Overused Grotesk', sans-serif;
    font-weight: 200;
}

.fc-off-white {
    color: var(--off-white);
}

.fc-light-grey {
    color: var(--light-grey);
}

.bg-dark-grey {
    background-color: var(--dark-grey);
}

.bg-beige {
    background-color: var(--beige);
}

.footer {
    position: sticky;
    top: 100vh;
}

.linebreak {
    height: 1px;
    background-color: var(--light-grey);
}
